
.header{
    grid-area: h;
    padding: 5px;
    border: solid 10px gray;
    border-radius: 25px;
  }
  
  .header img{
   width: 400px;
  }

  .loginBlock{
    float: right;
  }
  .loginBlock a {
    color: rgb(0, 0, 0);
  }